
<div id="landing">

  <div class="row-fluid">
    <div class="span6 offset3">
      <h1>Hamburg</h1>
    </div>
  </div>

  <form class="form-search">
    <div class="row-fluid">
      <div class="span6 offset3">
        <div class="input-append input-100">
          <input type="text" class="input-100" placeholder="理财关键词（如40万，4.5%，保本，黄金，000063）"/>
          <button class="btn" type="button">Go!</button>
        </div>
      </div>
    </div>
  </form>

 <% if user_signed_in? %>
 <% else %>
    <div class="row-fluid" id="intro">
      <div class="span7 offset3">
        <%= link_to "马上注册", new_user_registration_path %>
        获取更多个性化服务：个人财务管理，财务目标和计划，理财产品定制提醒。 
      </div>
    </div>
 <% end %>

</div>
