<div class="hero-unit">
  <div class="row">
    <div class="span5">
      <h2>
        晟乾，专注于个人理财。
      </h2>
      <br/>
      <p>
        您可以有效管理收入与支出；<br/>
        您可以充分理解您的资产状况；<br/>
        您可以及时获取个性化的理财资讯。<br/>
      </p>
      <br/>
      <p><a class="btn btn-primary btn-large">马上免费注册！</a>&nbsp;&nbsp;<a class="btn btn-info btn-large">了解更多</a>
      </p>
    </div>
    <div class="span4 offset1">
      <div class="row">
        <div class="span2"><h2>图标 1</h2></div>
        <div class="span2"><h2>图标 2</h2></div>
      </div>
      <br/><br/><br/><br/>
      <div class="row">
        <div class="span2"><h2>图标 3</h2></div>
        <div class="span2"><h2>图标 4</h2></div>
      </div>
    </div>
  </div>
</div>
<!--
<%= link_to "使用新浪微博帐户登录", user_omniauth_authorize_path(:weibo) %>
-->