
<div id="landing">

  <div class="row-fluid">
    <div class="span6 offset3">
      <h1>Hamburg</h1>
    </div>
  </div>

  <form class="form-search">
    <div class="row-fluid">
      <div class="span6 offset3">
        <input type="text" class="input-fullcell" placeholder="理财关键词（如40万，4.5%，保本，黄金，000063）"/>
        <button type="submit" class="btn">搜 索</button>
      </div>
    </div>
  </form>

 <% if user_signed_in? %>
 <% else %>
    <div class="row-fluid" id="intro">
      <div class="span5 offset3">
        <%= link_to "马上注册", new_user_registration_path %>
        获取更多个性化服务：个人财务管理，财务目标和计划，理财产品定制提醒。 
      </div>
      <div class="span5 offset3">
      </div>
    </div>
 <% end %>

</div>
