<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-list">
          <li><a href="#"><i class="icon-list-alt"></i> 我的帐户</li>
      </ul>
    </div>
    <div class="span10">
    </div>
  </div>
</div>
<br/>