// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'twitter/bootstrap';

.label {
  font-size: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin-left: 10px;
  color: lightblue;
}

.account-info {
  display:inline;
  margin-right: 5px;
}

.accounts-sidebar {
  padding-left:5px;
  padding-right:5px;
  font-size: 16px;
}

.accounts-sidebar-header {
  font-size: 16px;
}

.accounts-sidebar .nav-header {
  font-size: 20px;
}

.accounts-sidebar li .active a {
  color: #BB2222;
}

.accounts-sidebar li .active {
  color: #BB2222;
}

.tab-raphael {
    display: block !important;
    position: absolute;
    top: -9999px;
}
.tab-raphael.active {
    position: relative;
    top: 0;
}