@import 'twitter/bootstrap';

.hero-unit {
  background-color: white;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('ProximaNova-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

