// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 72px;
}

.input-80
{
    width: 80%
}

.input-90
{
    width: 90%
}

.input-100
{
    width: 100%
}

#landing #intro {
    margin-top:80px;
    font-size: 14px;
    text-align: center;
}

#landing {
    margin-top:80px;
}