<div class="row-fluid">
    <div class="span12">
        <table class="table table-hover" id="transactions-table">
            <tr>
                <% if !@account %>
                    <th style="min-width:80px">帐户</th>
                <% end %>
                <th>金额</th>
                <th>类型</th>
                <th>类别</th>
                <th style="min-width:100px">日期</th>
                <th style="min-width:100px">详细信息</th>
                <th style="min-width:50px"></th>
            </tr>
            <% @transactions.each do |transaction| %>
                <%= render :partial=>transaction %>
            <% end %>
        </table>
    </div>
</div>
