<li id="account_sidebar_item_<%= account.id%>">
      <%= link_to account.name, account %>
    <div id="account_sidebar_current_<%= account.id%>"  style="display:none;float:right">
      <i class="icon-play"></i>
    </div>
</li>