<div>
  <div class="tabbable">
    <ul class="nav nav-tabs">
       <li class="active"><a href="#tab-portfolio" data-toggle="tab">资产变化</a></li>
     <!--
       <li><a href="#tab-income-expense" data-toggle="tab">收支对比</a></li>
     -->
       <li><a href="#tab-expense-analysis" data-toggle="tab">支出分析</a></li>
       <li style="float:right;"><%= image_tag "ajax-loader.gif", :id=>"porfolio-ajax-loader",  :style=>"display:none" %></li>
    </ul>
    <div class="tab-content" style="display:none" id="portfolio-canvas">
      <div class="tab-raphael active" id="tab-portfolio">
        <div class="row-fluid">
          <div class="span8">
            <div id="canvas-portfolio"  style="min-width: 500px; height: 240px; margin: 0 auto"></div>
          </div>

          <div class="span4">
            <i class="icon-bell"></i> 左图显示<span id="portfolio-range" style="color:#B22222">过去一年</span>您的净资产变化情况。<br/>
            <i class="icon-bell"></i> 您的净资产由
              <span id="portfolio-start-total" style="color:#B22222;font-weight:bold"></span>
              <span id="portfolio-direction">增加</span>
              <span id="portfolio-current-total" style="color:#B22222;font-weight:bold"></span>。<br/>
            <i class="icon-bell"></i> 增长值为<span id="portfolio-increment" style="color:#B22222;font-weight:bold"></span>。<br/>
            <i class="icon-bell"></i> 增长率为<span id="portfolio-increment-rate" style="color:#B22222;font-weight:bold"></span>。<br/>
          </div>
        </div>
      </div>
      <div class="tab-raphael" id="tab-income-expense">
        <div class="row-fluid">
          <div class="span8">
            <div id="canvas-income-expense"></div>
          </div>
          <div class="span4">
            过去的一年，您共有3个月份支出大于收入。其中较为大额的支出有：<ul><li>买电视</li><li>买冰箱</li><li>买洗衣机</li></ul>
          </div>
        </div>
      </div>
      <div class="tab-raphael" id="tab-expense-analysis">
        <div class="row-fluid">
          <div class="span8">
            <div id="canvas-expense-analysis" style="min-width: 500px; height: 240px; margin: 0 auto"></div>
          </div>
          <div class="span4">
          </div>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>

<script type="text/javascript">

  $("#porfolio-ajax-loader").show();

  // start loading data for portfolio
  $.get("portfolio/", {},
    function(data){

      chart = new Highcharts.Chart({
          chart: {
              renderTo: 'canvas-portfolio',
              type: 'areaspline',
              marginRight: 40,
              marginBottom: 40
          },
          title: null,
          subtitle: null,
          xAxis: {
              categories : data.dates,
              labels: {
                step: Math.round((data.dates.length / 4)),
                y: 25,
                formatter : function() {
                  if (data.type === "month") {
                    var date = new Date(this.value);
                    return date.getFullYear() + "-" + (date.getMonth() + 1);
                  } else {
                    return this.value;
                  }
                }
              }
          },
          credits: {
            enabled: false
          },
          yAxis: {
              title: {
                  text: '净资产 (人民币)'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }],
              min: Math.min.apply(null, data.line)
          },
          tooltip: {
              formatter: function() {
                if (data.type === "month") {
                  var date = new Date(this.x);
                  return date.getFullYear() + "-" + (date.getMonth() + 1) + " : ¥" + this.y;
                } else {
                  return this.x + " : ¥" + this.y;
                }
              }
          },
          legend: {
              enabled:false
          },
          series: [{
              data: data.line
          }]
      });
      $("#portfolio-canvas").show('slow');
      $("#porfolio-ajax-loader").hide();
      if (data.type === "month") {
        $("#portfolio-range").html("过去一年");
      } else if (data.type === "day") {
        $("#portfolio-range").html("过去一月");
      }
      var start_total = data.line[0];
      var current_total = data.line[data.line.length - 1];
      if (start_total < current_total) {
        $("#portfolio-direction").html("增加到");
      } else if (start_total > current_total) {
        $("#portfolio-direction").html("减少到");
      } else {
        $("#portfolio-direction").html("保持不变");
      }
      if (start_total != current_total) {
        $("#portfolio-start-total").html(start_total + "元");
        $("#portfolio-current-total").html(current_total + "元");
      }
      $("#portfolio-increment").html((current_total - start_total) + "元");
      $("#portfolio-increment-rate").html(((current_total - start_total) / start_total * 100.0).toFixed(4) + "%");

    }
  ).success(function() {}).error(function() { $("#porfolio-ajax-loader").hide();}).complete(function() {});

  $.get("portfolio/expense", {},
    function(data){
      var series = [];
      for (var key in data) {
        series.push([key, data[key]]);
      }
      var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'canvas-expense-analysis',
                plotBackgroundColor: null,
                type: 'pie',
                plotBorderWidth: null,
                plotShadow: false,
                marginRight: 40,
                marginBottom: 40,
                marginTop:20
            },
            credits: {
              enabled: false
            },
            title: {
                text: null
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 0
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    center : [200, 100],
                    size : '90%',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.point.percentage) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '',
                data: series
            }]
      });
    }

  ).success(function() {}).error(function() {}).complete(function() {}); 
</script>

<h3>最近一周的流水 
    <span style="font-size:.6em;float:right;margin-top:5px;font-weight:normal">
      <%= link_to transactions_path do %>
        <i class="icon-th-list"></i> 显示全部
      <% end %>
    </span>
</h3>
<%= render :partial=>"transactions/transactions" %>
